@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    display: flex;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;
    /* margin:10px; */
    padding: 20px 10px;
    /* align-items: center; */
    justify-content: space-around;
    background-color: red;
    /* display:grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows:  repeat(2 auto); */
    /* gap: 20px; */
    /*  460 780 */
    width: 360px; 
    height: 624px;
    border-radius: 15px;
    border:2px solid rgba(147, 10, 10, 0.845)
    
}

.display{
    display:flex;
    /* justify-content: space-between; */
    /* background-color:darkgoldenrod; */
}
.name{
   text-align: center;
   margin:50px 0px;
   line-height: 50px;
    font-size:21px;
    font-family:'Press Start 2P';
    font-weight: bold;
   
    transform:rotate(-40deg);
}

.left{
    width:100%;
    padding:20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */

}
.grid{
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-template-rows: repeat(20,auto);
    background-color: rgb(177, 167, 167) ;
    /* background-color:rgba(237, 233, 233, 0.982); */
    width: 190px; 
    height: 380px;
    border :10px ridge rgba(199, 189, 189, 0.8);
}

.grid div{
   
    border:2px rgba(0, 0, 0, 0.275) solid;
    border-radius: 5px;
    background-color: rgb(177, 167, 167) ;
    width:16px;
    height: 16px;
}

.tet{
    background-color: rebeccapurple;
}

.mini-grid{
  justify-content: center;
  align-items: center;
    background-color: rgb(250, 193, 49);
    width: 100px;
    height: 100px;
    /* display:flex; */
    display: grid;
    grid-template-columns: repeat(5,20px);
    grid-template-rows: repeat(5,20px);
    /* flex-wrap: wrap; */
   /* margin-left: 0px; */
   /* padding: 20px 10px 20px 35px ; */
   border: 4px ridge black;
   /* padding: 5px; */
   /* padding-right:60px; */

}

.mini-grid div{
    /* padding-right:10px; */
    border-radius: 5px;
    /* border:2px solid black; */
    height: 18.4px;
    width: 18.4px;
   
}
.hid {
    visibility: hidden;
}



#score{
  padding-left: 10px;
    color: rgb(237, 201, 195);
    gap:2px;
}
.mid{
    margin: auto;
}
.mid-button{
    margin:10px auto;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 16px;
    height: 40px;
    width: 100px;
    border:2px solid black;
    /* transition:all ; */

    /* margin: 0px, 0px, 0px, 50px; */


}

/* .mid-button:hover{
   
    background-color: grey;
    color: white;
} */



.controls{
    margin: 10px auto;
    /* background-color: antiquewhite; */
    width:80%;
    display:flex;
    justify-content: space-between;
}
.arrows{
   
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    /* background-color:aqua;   */
}
.below{
    display: flex;
    gap:10px;
}
.cont_style{
    border:2px solid black;
    border-radius: 5px;
    height:45px;
    width:45px;
    font-size: 20px;
}
.X0{
    /* background-color: aqua; */
    
    display: grid;
    grid-template-columns:repeat(2,auto) ;
    align-items: center;
    /* padding:1px; */
    /* grid-template-rows: repeat(2,auto) ; */
}

.mid-button:active{
   box-shadow:         inset 1px 1px 10px #333;
}

@media screen and (max-width:400px){
    /* body{
  background-color: blue;} */

    .container{
        height:580px;
        width:280px; 
        /* 0.96  0.77 */

    }

    .grid{
        height:355px;
        width:160px;
    }
    .grid div{
        width:12px;
        height: 14px;
        border-radius: 4px;
    }

    .mini-grid{

        height:70px;
        width:70px;
        grid-template-columns: repeat(5,14px);
        grid-template-rows: repeat(5,14px);
    }

    .mini-grid div{
        height: 13px;
        width:13px ;
        /* border:2px solid black; */

    }

    .name{
        font-size: 14px;
        line-height: 30px;
    }

    .dot{
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid rgb(174, 174, 12);

    }

    .left{
        padding: 10px 10px;
    }
    
    .mid-button{
        /* margin:0px auto; */
        font-size:10px;
        font-weight: bold;
        height:20px;
        width:50px;
        background-color: yellow;
        border: 2px solid rgb(174, 174, 12);
    }

    .cont_style{
        border: 3px solid rgb(174, 174, 12);
        border-radius: 50%;
        height:35px;
        width:35px;
        font-size: 15px;
        /* font-weight: bold; */
        background-color: yellow;
        /* margin-top: 0px; */
    }
    .cont_style:active{
        box-shadow:         inset 1px 1px 10px #333;
    }
    .controls{
        margin-top: 0px;
    }
    .mid{
        margin: 0px auto;
    }
    .props{
    display: flex;
    justify-content: end;
    }
    .small{
        
        border: 3px solid rgb(174, 174, 12);
      height:15px;
      width:15px;
      margin:0px 7px;
    }
    .small:active{
            box-shadow:         inset 1px 1px 2px #333;
    }
}